.title, .score
{
    color: #FE9810;
}


.opis
{
    margin-left: 5px;
    border-left: 5px;
    border-left-color: #ECEEEF;
    border-left-style: solid;
    padding-left: 5px;
    margin-bottom: 40px;
    margin-top: 20px;
   
}

.grid-item
{
    margin-right: auto;
    border: 1px solid #FE9810;
    margin-bottom: 20px;
}



.grid-item img
{
    width: 100%;
    height: auto;
    margin-left: auto;

}

.grid-item p
{
    text-align: center;
}

.grid-item span
{
   text-align: center;
}

.score
{
}

.grid{
    
}

.list
{
   padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
     border: 2px solid #FE9810;
}

.list
{
    margin-top: 20px;
}


